__pycache__/
*.pyc

light_*.sh

vllm-multimodal-evaluator/pics/
vllm-multimodal-evaluator/video/
vllm-multimodal-evaluator/scripts/__pycache__/

vllm-multimodal-precision-testing/OCR/
vllm-multimodal-precision-testing/artwork/
vllm-multimodal-precision-testing/celebrity/
vllm-multimodal-precision-testing/code_reasoning/
vllm-multimodal-precision-testing/color/
vllm-multimodal-precision-testing/commonsense_reasoning/
vllm-multimodal-precision-testing/count/
vllm-multimodal-precision-testing/existence/
vllm-multimodal-precision-testing/landmark/
vllm-multimodal-precision-testing/mmbench/
vllm-multimodal-precision-testing/numerical_calculation/
vllm-multimodal-precision-testing/position/
vllm-multimodal-precision-testing/posters/
vllm-multimodal-precision-testing/scene/
vllm-multimodal-precision-testing/scripts/__pycache__/
vllm-multimodal-precision-testing/text_translation/
